:root{
   --cor-de-fundo: #e7e6e6;
}
body{
    background-color:var(--cor-de-fundo)
}


header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.Puma{
    width: 200%;
}
.introducao {
    display: flex;
}